[*]
charset=utf-8
end_of_line=lf
insert_final_newline=false
indent_style=space
indent_size=4
trim_trailing_whitespace=true
tab_width=4
max_line_length=120

[{.babelrc,.stylelintrc,.eslintrc,jest.config,*.json,*.jsb3,*.jsb2,*.bowerrc}]
indent_style=space
indent_size=2
tab_width=2

[*.js]
indent_style=space
indent_size=2
tab_width=2
max_line_length=160
insert_final_newline=false

[{*.ddl,*.sql}]
indent_style=space
indent_size=2
tab_width=2

[*.scss]
indent_style=space
indent_size=2
tab_width=2

[*.css]
indent_style=space
indent_size=2
tab_width=2
max_line_length=120

[{*.yaml,*.yml}]
indent_style=space
indent_size=2
tab_width=2
end_of_line=lf

[*.xml]
indent_style=space
indent_size=2
tab_width=2
end_of_line=lf

[{composer.lock,composer.json}]
indent_style=space
indent_size=2
tab_width=2

[*.php]
indent_size=4
indent_style=space
tab_width=4
tab_width=4
insert_final_newline=true
end_of_line=lf

[{*.html,*.twig}]
indent_size=2
indent_style=space
tab_width=2
tab_width=2
end_of_line=lf
insert_final_newline=false
