<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block header %}
{% endblock %}

{% block body %}
  <h1>wefew</h1>
{% endblock %}

{% block footer %}
{% endblock %}
</body>
</html>
